@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  font-family: "Quattrocento Sans", regular;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

hgroup {
  color: #FFFFFF;
}

section {
  color: #000000;
}

.main-heading {
  font-size: 4.5rem;
  color: #FFFFFF;
}

.sub-heading {
  font-size: 2.2rem;
  padding-top: 3rem;
}

.text-white {
  color: white;
}

@media screen and (max-width: 575px) {
  .main-heading {
    font-size: 3rem;
    color: #FFFFFF;
  }
  .sub-heading {
    font-size: 1.6rem;
  }
}

.owl-carousel {
  width: 100%;
  height: 100vh;
}

.owl-carousel .slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.owl-carousel .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.owl-carousel .slide-content {
  position: relative;
  top: 50%;
  margin: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.owl-carousel .slide-content button {
  background: #C88770;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 400;
}

.owl-carousel .slide-content button:hover {
  background: #3B4B53;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.slide {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url(../img/homepage/homepage_headerimage_01@2x.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../img/homepage/homepage_headerimage_01@2x.png);
}

.slide-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url(../img/homepage/livingroom_coffeetables_image@2x.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../img/homepage/livingroom_coffeetables_image@2x.png);
}

.slide-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4))), url(../img/sofa/sofa1@2x.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../img/sofa/sofa1@2x.png);
  background-position: top;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20%;
}

@media screen and (max-width: 575px) {
  .owl-carousel {
    top: 6rem;
    z-index: -1;
  }
  .owl-carousel .owl-nav {
    top: 5%;
  }
  .open .slide {
    -webkit-filter: blur(12px);
            filter: blur(12px);
  }
}

footer {
  background: #B17364;
}

footer .col li {
  font-size: 1.7rem;
}

footer .col li a {
  color: white;
}

#footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  padding: 3rem 0 4rem 0;
}

.list-caption {
  color: white;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.footer-logo {
  padding-top: 3rem;
}

.socials .fab {
  font-size: 2rem;
  color: white;
  margin-right: .6rem;
}

.arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.arrow img {
  -webkit-animation: up 2s infinite;
          animation: up 2s infinite;
}

@media screen and (max-width: 768px) {
  .list-caption {
    padding-top: 3rem;
  }
  .footer-logo {
    padding-top: 3rem;
  }
  .socials {
    padding-top: 1rem;
  }
}

.top-navbar {
  background: #B17364;
  height: 6rem;
}

.top-navbar .logo {
  display: inline-block;
}

.top-navbar .icons {
  display: inline-block;
}

.top-navbar .icons a {
  margin-left: 15px;
}

.top-navbar > .space-between {
  height: 6rem;
}

.bottom-navbar a {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .top-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .top-navbar .menu-toggle {
    color: white;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 300;
    display: inline-block;
  }
  .top-navbar .bottom-navbar {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 115, 100, 0.5);
    z-index: 250;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .top-navbar > .space-between {
    height: calc(100vh-6rem);
  }
  .icons {
    opacity: 0;
  }
  .fa-times {
    display: none;
  }
  .open {
    -webkit-transition: all 2s forwards;
    transition: all 2s forwards;
  }
  .open .fa-times {
    display: block;
  }
  .open .fa-bars {
    display: none;
  }
  .open .bottom-navbar {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main-header {
  background: url(/img/_homepage/homepage_headerimage_01.png) top no-repeat;
  min-height: 90vh;
  overflow: hidden;
}

.main-header button {
  background: #C88770;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 400;
}

.main-header button:hover {
  background: #3B4B53;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.main-header-text {
  min-height: 100vh;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */