

.contact {
    background: linear-gradient(to right, rgba(0, 0, 0 ,.3), rgba(0,0,0,.3)),  url(../img/contactus/contactus_image.png);
    min-height: 90vh;
}

.contact-grid {
    padding-top: 15%;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 10% auto 5%;
    grid-template-areas: 
    'hgroup empty'
    'inputs message'  
    '100px button';
    hgroup {
        grid-area: hgroup;
        margin-bottom: 1.5rem;
        h2 {
            font-size: 2.5rem;
            margin-top: 3rem;
        }
    }
    .inputs {
        grid-area: inputs;

        input {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
            border: none;
            border-bottom: 2px solid $white;
            width: 50rem;
            font-size: 2.2rem;
            color: white;
            // opacity: 1;
            // transition: opacity 250ms ease-in-out;
            padding-bottom: 1.5rem;
            background: transparent;
            &:last-child {
                margin-bottom: 0;
            }

        }
    }
    .message {
        grid-area: message;
        textarea {
            height: 100%;
            width: 100%;
            background-color: transparentize($color: $white, $amount: .7);
            font-size: 2.2rem;
            color: white;
            padding: 1.5rem;
            border: none;
            font-family: "Quattrocento Sans", regular;
            &:active,
            &:focus {
                border: 2px solid white;
    
            }
        }
    }
    button {
        grid-area: button;
        justify-self: flex-end;
        @include btn-pink;
        
    }
}


@media screen and (max-width: 1098px) {
    .contact-grid {
        padding-top: 15%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        'hgroup'
        'inputs'
        'message'  
        'button';
        hgroup {
            padding-top: 4rem;
        }
        .inputs {
            padding-bottom: 2rem;
            input {
                width: 100%;

            }
        }
        button {
            height: 4rem;
        }
    }
}


