.main-header {
    background: url(/img/_homepage/homepage_headerimage_01.png) top no-repeat;
    min-height: 90vh;
    overflow: hidden;
    button {
        @include btn-pink;
    }
}

.main-header-text {
    min-height: 100vh;
}

// .homepage-main-section {
//     .row {
//         display: grid;
//         grid-template-areas:
//         'section-img1 section-img1 section-text'
//         'section-text section-img2 section-img2'
//         'section-img3 section-img3 section-text';
//         grid-template-columns: repeat(3, 1fr);
//         grid-gap: 30px;
//     }
//     .section-text {
//         grid-area: section-text;
//     }
//     .section-img1 {
//         background-image: url(../img/livingroom/livingroom_sofa_image.png);
//         grid-area: section-img1;
//     }
// }