//Colors

$nav: #B17364;
$white: #FFFFFF;
$black: #000000;
$slider-icon: #747474;
$border: #4C5054;
$button-gray: #3B4B53;
$pink: #C88770;         //btn and background
$cream: rgb(255, 220, 181);
$gray: #D6D2D1;         //background

//Animation
$transition: .4s ease;

