//Colors

$nav: #B17364;
$white: #FFFFFF;
$black: #000000;
$slider-icon: #747474;
$border: #4C5054;
$button-gray: #3B4B53;
$pink: #C88770;         //btn and background
$cream: #E5DCD2;
$gray: #D6D2D1;         //background

//Animation
$transition: .4s ease;

//Padding
$padding: 100px 0;
$SectionsBottom: 100px;
$responsivePadding: 50px;

