@mixin button-pink {
    background: $pink;
    color: $white;
    font-size: 1rem;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
        background: $button-gray;
        transition: $transition;
        cursor: pointer;
    }
}

@mixin button-black {
    background: $black;
    color: $white;
    font-size: 1rem;
    margin: 30px 0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
        background: $button-gray;
        transition: $transition;
        cursor: pointer;
    }
}