footer {
    position: relative;
    bottom: 0;
    left:0;
    background: $nav;
    .col {
        li {
            font-size: 1.7rem;
            a {
                color: white;
            }
        }
        &:nth-child(4) {
            ul {
                li:nth-child(3) {
                    text-transform: lowercase;
                }
            }
        }
    }
}

#footer {
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 18%;
    padding: 3rem 0 4rem 0;
}

.list-caption {
    color: white;
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.footer-logo {
    padding-top: 3rem;

}

.socials {
    .fab {
        font-size: 2rem;
        color: white;
        margin-right: .6rem;
    }
}

.arrow {
    align-self: flex-end;
    animation: up 2s infinite;
    a:hover::after {
        right: 100%;
        }
}


@media screen and (max-width: 768px) {
    #footer {
        justify-content: space-between;
        .col {
            padding-right: 10px;
            .list-caption {
                padding-top: 1.5rem;
            }
        }
        .footer-logo {
            padding-top: 1.1rem;
        
        }
        .socials {
            padding-top: 1rem;
        }
        .arrow {
            padding-top: 2rem;
    
        }
    }
}




