
.top-navbar {
    background: #B17364;
    height: 6rem;
    .logo { 
        display: inline-block;
    }
    .icons {
        display: inline-block;
        a {
            margin-left: 15px;
        }
    }
}

.top-navbar > .space-between {
    height: 6rem;
}

.bottom-navbar {
    a {
        color: $white;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 768px) {
    .top-navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        .menu-toggle {
            color: white;
            font-size: 2.2rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2.5rem;
            cursor: pointer;
            z-index: 300;
            display: inline-block;
        }
    .bottom-navbar {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize($color: $nav, $amount: 0.9);
        z-index: 250;
        transform: translateY(-200%);
        transition: transform .5s;
    }
    }.top-navbar > .space-between {
    height: calc(100vh-6rem);
    }
    .icons {
        opacity: 0;
    }
    .fa-times {
        display: none;
    }
    .open {
        transition: all 2s forwards;
        .fa-times {
            display: block;
        }
        .fa-bars {
            display: none;
        }
        .bottom-navbar {
            transform: translateY(0);
        }
        .main-header {
            -webkit-filter: blur(12px);
            -moz-filter: blur(12px);
            -o-filter: blur(12px);
            -ms-filter: blur(12px);
            filter: blur(12px);
          }
    }
}