//Shop sofa slider

.slider-bg, .slider-sm {
    outline: none;
  }
  
  .slider-container {
      max-width: 70rem;
      padding-right: 40px;
  }
  .slider-bg .img{
    outline: none;
    height:30vw;
  }
   .slider-sm .img{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    cursor: pointer;
  }
  
  
  .slick-next.slick-arrow {
    float: right;
    position: absolute;
    right: 0;
    top: 50%;
    color: transparent;
    border: none;
    background: url(../img/icon_arrow_back.png) no-repeat;
    transform: rotate(-180deg);
    cursor: pointer;
  }
  
  .slick-prev.slick-arrow {
    @extend .slick-next.slick-arrow;
    transform: none;
    cursor: pointer;
  }
  
  .slick-prev.slick-arrow {
      position: absolute;
      bottom: 44%;
      left: 0;
      z-index: 1;
  }
  
  .slick-list.draggable {
      padding: 0!important;
  }

  

  @media screen and (max-width: 768px) {
    .slider-container {
        margin: 70px 0 -20px 0;
    }
    .shop-product.container-bg .slider-container {
        padding: 0 20px;
    }
}
