@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');


body {
    font-family: "Quattrocento Sans", regular;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400;
}

hgroup {
    color: $white;
}

section {
    color: $black;
}

p {
    font-size: 1.8rem;
}
.main-heading {
    font-size: 3rem;
    color: $white;
}

.text-white {
    color: white;
}