@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quattrocento:wght@400;700&display=swap');


body {
    font-family: "Quattrocento Sans", regular;
    font-weight: 400;
    line-height: 1.5;
}

